Repository wedaa-tech/generator-jhipster, pull requests merged in 2023-12, with the labels that each got.

#11 Added generator for instructions on how to run
  generators/generator-list.mjs
  generators/instructions/files.mjs
  generators/instructions/generator.mjs
  generators/instructions/index.mts
  generators/instructions/templates/HOW_TO_RUN.md.ejs
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java

#13 added notes api with postgresql and mongodb
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_sql.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/mongodb/files.mjs
  generators/mongodb/templates/src/main/java/package/config/dbmigrations/NotesInitialDataMigration.java.ejs
  generators/server/files.mjs
  generators/server/templates/src/main/java/package/domain/Note.java.ejs
  generators/server/templates/src/main/java/package/repository/NotesRepository.java.ejs
  generators/server/templates/src/main/java/package/service/NotesService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/NotesController.java.ejs
Labels: theme: java

#14 enabled cors for microservice as well
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

#15 minikube fix
  generators/base-docker/docker-base.mjs
  generators/base/generator-base-todo.mjs
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/service.yml.ejs
Labels: theme: jhipster-internals, theme: kubernetes

#16 fixed package issue
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
  generators/mongodb/templates/src/main/java/package/config/dbmigrations/NotesInitialDataMigration.java.ejs
Labels: theme: kubernetes, theme: docker :whale:
